@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css?family=Numans');


.card{
height: 420px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}


.card-header h3{
color: white;
}



.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.icono_editar {
	background: url('/img/481_small.png') no-repeat -263px -303px;
	width: 39px;
	height: 40px;
	display: inline-block;
	padding: 2px 2px 2px 2px;
	cursor: pointer;
}

.icono_anadir {
	background: url('/img/481_small.png') no-repeat -93px -219px;
	width: 40px;
	height: 39px;
	display: inline-block;
	padding: 2px 2px 2px 2px;
	cursor: pointer;
}

.icono_eliminar {
	background: url('/img/481_small.png') no-repeat -178px -219px;
	width: 39px;
	height: 39px;
	display: inline-block;
	padding: 2px 2px 2px 2px;
	cursor: pointer;
}

.submit_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.submit_btn:hover{
color: black;
background-color: white;
}